* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   height: 100vh;
   background-color: #f9fbfd;
   font-family: 'Arial', sans-serif;
}

.menu{
   position: fixed;
   display: flex; 
   width: 100%;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   height: 70px;
   background-color: #fdfdfd;
   justify-content: space-between;
   align-items: center;
   box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
   


}

.logo-menu{
   height: 50px;
   width: 140px;
   margin-left: 20px;
}

.menu ul {
   list-style: none;
   display: flex;
   padding: 0;
   align-items: center;
}

.menu ul li {
   padding: 20px;
}

.menu ul li a {
   text-decoration: none;
   color: #797878;
   transition: color 0.3s ease;
   
}
 
.botones-menu{
   display: flex;
   align-items: center;
   margin: 20px;
}

.botones-menu li{
   display: flex;
   padding: 0;

}

.iniciar-sesion {
   text-decoration: none;
   color: #595757;
   padding: 30px;
}

.comenzar {
   color: #ffffff;
   background: linear-gradient(to right, #544ef3, #9f08eb);
   border-radius: 7px;
   border:none;
   width: 100px;
   height: 40px;
}

.contenido-banner {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh; 
   text-align: center;
}

.circulo {
   display: inline-block;
   width: 8px;
   height: 8px;
   background-color: #fefafa;
   border-radius: 25px;
   margin: 7px;
}

.pequenio-titulo {
   color: #f5f3f8;
   background: linear-gradient(to right, #512bf7, #a93cd1);
   text-align: center;
   justify-content: center;
   padding: 5px 0;
   border-radius: 20px;
   width: 500px;
   height: 30px;
}

.subtitulo1 {
   font-size: 40px;
   padding: 0 20px;
   color: #262839;
   text-align: center;
   font-weight: bold;

}
.subtitulo2 {
   font-size: 38px;
   background: linear-gradient(to right, #512bf7, #f20ed4);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-align: center;
   font-weight: bold;
}

.descripcion{
   font-size:15px;
   text-align: center;
   color: #3c3c3c;
   margin-top: 20px;
   padding: 0 20px;
}

.boton-hacertest{
   color: #ffffff;
   background: linear-gradient(to right, #700aed, #fc1df8);
   border-radius: 7px;
   border:none;
   width: 180px;
   height: 30px;

}

.boton-agendarcita {
   color: #9013ac;
   background: transparent;
   border-radius: 7px;
   border: 1px solid #9013ac;
   width: 180px;
   height: 30px;
}

/** Aqui es donde voy...**/
.servicios {
   margin-top: 10px;
   padding: 0 20px;
   

}

.titulo-servicios {
   text-align: center;
   color: #151515;

}

.descripcion-servicios {
   text-align: center;
   color: #3c3c3c;
   padding: 0 20px;

}

.tarjeta-servicios{
   display: grid;
   grid-template-columns: 300px 300px 300px;
   justify-content: center;
   grid-gap: 30px;
   padding: 40px 0;

}

.tarjeta-item {
   border-radius: 10px;
   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
   padding:30px;
   background-color: #ffffff;
}

.titulo-tarjeta {
   font-size: 15px;
   color: #242323;
   margin-bottom: 10px;
}

.descripcion-tarjeta {
   font-size: 12px;
   color: #424242;
   margin-bottom: 10px;
}






   





footer{
   background-color:#f0f9f7;
   border: 1px solid #e0e0e0;
   margin-top: 50px;
   padding: 50px 30px;

}

