nav {
   background-color: #ffffff;
   justify-content: space-between;
   display: flex;
   align-items: center;
   box-shadow: 0 4px 6px rgba(0,0,0,0.1);
   padding: 0;
   margin: 0;

}

.logo-menu {
   height: 42px;
   width: auto;
}

.nav-links {
   justify-content: center;
   display: flex;
   gap: 20px;
   list-style: none;
   padding: 0;
   margin: 0; 
}

.botones-menu {
   display: flex;
   gap: 10px;
   margin-right: 100px;
   
}
