* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   height: 100vh;
   background-color: #f9fbfd;
   font-family: 'Arial', sans-serif;
}

.menu{
   background-color: #fdfdfd;
   display: flex; 
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px; 
   box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
}

.logo-menu{
   height: 50px;
   width: 100px;
}

.menu ul {
   list-style: none;
   display: flex;
   padding: 0;
}

.menu ul li {
   margin: 0 15px;
}

.menu ul li a {
   text-decoration: none;
   color: #797878;
   transition: color 0.3s ease;
   
}
 
.botones-menu{
   display: flex;
   align-items: center;
}

.botones-menu li{
   display: flex;
   padding: 0;
   
}

.iniciar-sesion {
text-decoration: none;
color: #595757;
font-weight: bold;

}

.comenzar {
   color: #ffffff;
   background: linear-gradient(to right, #700aed, #c5aef0);
   border-radius: 7px;
   border:none;
   width: 100px;
   height: 30px;
   font-weight: bold;
}
.contenido-banner {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh; 
   text-align: center;
}
.pequenio-titulo {
   color: #f5f3f8;
   background: linear-gradient(to right, #512bf7, #a93cd1);
   text-align: center;
   justify-content: center;
   padding: 5px 0;
   border-radius: 20px;
   width: 500px;
   height: 30px;
}

.subtitulo1 {
   font-size: 40px;
   padding: 0 20px;
   color: #262839;
   text-align: center;
   font-weight: bold;

}
.subtitulo2 {
   font-size: 38px;
   background: linear-gradient(to right, #512bf7, #f20ed4);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-align: center;
   font-weight: bold;
}

.descripcion{
   font-size:15px;
   text-align: center;
   color: #3c3c3c;
   margin-top: 20px;
   padding: 0 20px;
}

.boton-hacertest{
   color: #ffffff;
   background: linear-gradient(to right, #700aed, #fc1df8);
   border-radius: 7px;
   border:none;
   width: 180px;
   height: 30px;

}

.boton-agendarcita {
   color: #9013ac;
   background: transparent;
   border-radius: 7px;
   border: 1px solid #9013ac;
   width: 180px;
   height: 30px;
}








footer{
   background-color:#f0f9f7;
   border: 1px solid #e0e0e0;
   margin-top: 50px;
   padding: 50px 30px;

}
